doctype html
html(lang="es")
  head
    title FotoFacilito
    meta(charset="utf-8")
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
     rel="stylesheet")
  body
    block contenido