extends ./layout.jade
block contenido
  form(action="/users", method="POST")
    div(class="form-group")
      label(for="email") Email
      input(type="text", name="email", placeholder="Email",id="email", class="form-control")
    div(class="form-group")
      label(for="password") Email
      input(type="password", name="password", placeholder="password",id="password", class="form-control")
    div(class="form-group")
      input(type="submit" value="Inicial sesion" class="btn btn-info")